# Auto detect text files and perform LF normalization
* text=auto

# Explicitly declare text files
*.js text
*.jsx text
*.ts text
*.tsx text
*.json text
*.md text
*.yml text
*.yaml text

# Ensure Unix line endings in certain files
*.sh text eol=lf
gradlew text eol=lf

# Denote binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.ttf binary
*.otf binary
*.woff binary
*.woff2 binary
*.keystore binary
